html{
    font-size:10px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    background: url("guiterimg.jpg") no-repeat right;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
}
p{
    font-size: 1.6rem;
    text-align: center;
}
.container{
    max-width: 570px;
    height:160px;
    margin: 0 auto;
    padding: 0 20px;
}
header .container{
    padding:4rem 0;
    text-align: center;
    background-color: aqua;
    border-radius: 0 0 2rem 2rem;
}
header h1{
    color:black;
    text-align: center;
    
    font-size: 2.4rem;
    padding-bottom: 1rem;
}
form input,
form button{
    outline:none;
    border:none;
    padding:1rem;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius:1rem;
}
form input{
    width:45%;
    margin-right:3px;
}
form button{
    cursor:pointer;
    background-color: blueviolet;
}
section .container{
    display:block;
    margin-right:0 auto;
    text-align: center;
    color:white;
    padding:2rem 0;
}
.songs{
    width:90%;
    list-style-type: none;
    margin:0 auto;
    padding:2rem;
}
.songs li{
font-size:1.4rem;
display: flex;
justify-content:space-evenly;
text-align: center;
align-items: center;
padding:7px 0;
}
.songs li span{
    border:solid 2px salmon;
    font-size:1.4rem;
    border-radius:6px;
    padding:7px;
    margin:7px;
    cursor: pointer;
    background-color: gray;
}